@page "/cssisolation" 

<h1>This is a standard heading. It will have the standard text colour. </h1>

<HeadingWithScopedCss Message="This heading is set via a component and uses CSS Isolation."></HeadingWithScopedCss>

@code {

}
