@page "/cssisolation" 

<h1>This text will be a different colour</h1>

<TechTalkBlazor.Components.HeadingWithScopedCss Message="than this one, even though they're both h1"></TechTalkBlazor.Components.HeadingWithScopedCss>

@code {

}
